<li>
    <p>

        <% if(locals.user && locals.user.id == comment.user.id) { %> 

        <small>
            <a href="/comments/destroy/<%= comment.id %> ">Delete this Comment</a>
        </small>

        <% } %> 

        <%= comment.content %>
        <br>
        <small>
            Commented by <%= comment.user.name %> 
        </small>
    </p>
</li>