<link rel="stylesheet" href="/css/footer.css">

<div class="footer-container">
    
    <div class="footer-para">
        <p> &copy; Tan Park. All Rights Reserved</p>
    </div>

    <div class="footer-op1">
        <a href="/"><p>&nbsp;Home</p></a>
    </div>

    <div class="footer-op2">
        <a href="/users/profile"><p>&nbsp;Profile</p></a>        
    </div>
</div>